.container {
  display: grid;
  grid-template-columns: 300px 300px 300px;
  grid-template-rows: 250px 600px;
  /* grid-template-columns: repeat(3, 1fr); */
  /* Initially each element has its own row for small screens */
  grid-template-areas:
    "hd"
    "sd"
    "main"
    "ft";
  border: 2px solid yellow;
}
.nestedGrid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  grid-template-areas:
    "hotel"
    "pic0"
    "pic1"
    "pic2"
    "pic3"
    "pic4";
}
.box {
  border: 1px solid red;
  background: #f8fa9d;
}
.header {
  /* row start/column start/ row end/ column end */
  grid-area: hd;
}
.footer {
  grid-area: ft;
}
.sidebar {
  grid-area: sd;
}
.content {
  grid-area: main;
}
/* If Screen Is Wide Enough */
@media (min-width: 900px) {
  .container {
    display: grid;
    grid-template-columns: 300px 300px 300px;
    grid-template-rows: 250px 600px;
    grid-template-areas:
      "hd hd hd hd hd hd hd hd"
      "sd sd main main main main main main"
      "ft ft ft ft ft ft ft ft";
    border: 2px solid red;
  }
}
