#blog{
  background: var(--main-blue);
  margin-top: 20px;
}

/* Fake image */
.fakeimg {
  background-color: #aaa;
  /* width: 100%; */
  padding: 20px;
}

/* Add a card effect for articles */
.card {
   padding: 20px;
}