#blog-post {
  margin-top: 20px;
}

/* Fake image */
.blog-img {
  background-color: #aaa;
  width: 100%;
  height: auto;
  padding: 20px;
}

/* Add a card effect for articles */
.post-card {
  background: var(--main-blue);
  display: flex;
  padding: 20px;
  margin-top: 20px;
}
