@import "base.css";
@import "navbar.css";
@import "welcome.css";
@import "projects.css";
@import "blog.css";
@import "contact.css";
@import "sidebar.css";
@import "footer.css";
@import "flip-box.css";


/* Custom properties/variables  */
:root {
  --main-white: #f0f0f0;
  --main-red: #be3144;
  --main-blue: #45567d;
  --main-gray: #303841;
}

/* Base reset */
* {
  margin: 0;
  padding: 0;
}

/* box-sizing and font sizing */
*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;

  /* Set font size for easy rem calculations
   * default document font size = 16px, 1rem = 16px, 100% = 16px
   * (100% / 16px) * 10 = 62.5%, 1rem = 10px, 62.5% = 10px
  */
  font-size: 62.5%;
  scroll-behavior: smooth;
}

/* A few media query to set some font sizes at different screen sizes.
 * This helps automate a bit of responsiveness.
 * The trick is to use the rem unit for size values, margin and padding.
 * Because rem is relative to the document font size
 * when we scale up or down the font size on the document
 * it will affect all properties using rem units for the values.
*/

/* I am using the em unit for breakpoints
 * The calculation is the following
 * screen size divided by browser base font size
 * As an example: a breakpoint at 980px
 * 980px / 16px = 61.25em
*/

/* 1200px / 16px = 75em */
@media (max-width: 75em) {
  html {
    font-size: 60%;
  }
}

/* 980px / 16px = 61.25em */
@media (max-width: 61.25em) {
  html {
    font-size: 58%;
  }
}

/* 460px / 16px = 28.75em */
@media (max-width: 28.75em) {
  html {
    font-size: 55%;
  }
}

/* Base styles */

body {
  font-family: 'Poppins', sans-serif;
  font-size: 1.8rem; /* 18px */
  font-weight: 400;
  line-height: 1.4;
  color: var(--main-white);
  background:var(--main-gray);
}

h1,
h2 {
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
}

h1 {
  font-size: 6rem;
}

h2 {
  font-size: 3rem;
}

a {
  text-decoration: none;
  color: var(--main-white);
}

img {
  /* display: block; */
  width: 100%;
}
.contents{
  grid-area: ct;
}

.wrapper{
  /* max-width: 1400px; */
  display: grid;
  grid-gap: 20px;
  grid-template-areas: 
    "wc wc wc wc wc wc wc wc" 
    ". ct ct ct ct ct sb ."
    "ft ft ft ft ft ft ft ft"
  ;
}

/* .wrapper{
  display: grid;
  grid-template-areas: 
    "hd hd hd hd"
    "wc wc wc wc"
    "ct ct ct ct"
    "sb sb sb sb"
    "ft ft ft ft"
  ;
} */


/* .root{
  color: #2d844e;  
  color: #3AAA64;
  color: #79d19a;
  color: #32383e;
  color: #434343;
  color: #49515a;
  color: #5f6b77;  
  color: #778492;
  color: #479FC8;
  color: #b0b7bf;
  color: #939ea9;
  color: #ccd1d6;
  color: #a1aab4;
  color: #999;  
  color: #666;  
  color: #fb866a;
}

:root {
  --silver-light: #f5f5f5;
  --silver-normal: #dae3e7;
  --silver-dark: #32383e;

  --header-dark: #545e69;
  --header-light: #778492;

  --text-silver: #434343;

  --btn-blue: #479FC8;
  --btn-green: #49ac43;

  --green-dark: #2d844e;
  --green-light: #79d19a;
} */

