.sidebar{
  grid-area: sb;
}

.sidebar-card{
  background:var(--main-blue);
  height: auto;
  padding: 20px;
  margin-bottom: 20px;
}

.sidebar-img {
  background-color: #aaa;
  width: 100%;
  padding: 20px;
}

