.sidebar{
  grid-area: sb;
  width: 30rem;
  display: grid;
  grid-gap: 2rem;
}

.sidebar-card{
  background:var(--main-white);
  padding: 20px;
}

.sidebar-img {
  background-color: #aaa;
  width: 100%;
  padding: 20px;
}

