<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8" />
    <title>Trawelo</title>
    <link rel="stylesheet" href="/styles/resets.css" />
    <link rel="stylesheet" href="/styles/base.css" />
    <link rel="stylesheet" href="/styles/header.css" />
    <link rel="stylesheet" href="/styles/main.css" />
    <link rel="stylesheet" href="/styles/footer.css" />
  </head>

  <body>
    <div id="wrapper">
      <header>
        <section class="hnav">
          <div class="hnav__left">Trawelo</div>
          <div class="hnav__right">Navigation</div>
        </section>

        <section id="banner">
          <div class="title">
            <h1>Trawelo</h1>
            <h5>Enjoy the travel of your life!</h5>
          </div>
          <form onsubmit="handleSubmit(event)">
            <div class="inputError">error handler</div>
            <div id="inputs">
              <select id="categories">
                <option value="travels">Travels</option>
                <option value="hotels">Hotels</option>
                <option value="flights">Flights</option>
              </select>

              <input
                required
                id="city"
                type="text"
                name="input"
                placeholder="Enter city (e.g. Tashkent)"
              />
              <input id="date" type="date" name="date" required />
              <!-- <a href="#plan" class="link"> -->
                <input
                  required
                  id="submit"
                  type="submit"
                  name="submit"
                  value="Add Travel"
                />
              <!-- </a> -->
            </div>
          </form>
        </section>
      </header>
      <main>
        <!-- MAIN -->
        <div id="results">result here</div>
      </main>

      <footer id="footer">
        <p>&copy Muhiddin JV 2021</p>
      </footer>
    </div>

    <script>
      // Check that service workers are supported
      if ("serviceWorker" in navigator) {
        // Use the window load event to keep the page load performant
        window.addEventListener("load", () => {
          navigator.serviceWorker.register("/service-worker.js");
        });
      }
    </script>
  </body>
</html>
