$milky: #333;

$white: white;
$green-shadow: rgba(0, 169, 157, 0.56);
$green-dark: #00a99d;
$green-btn: #00A99D;

// body {
//   display: flex;
//   flex-direction: column;
//   min-height: 100vh;
//   box-sizing: border-box;
//   text-align: center;
  

//     main {
//       padding: 10px;
//       flex: 2;
//       // background-color: #5b5ea6;
  
//       section {
//         max-width: 500px;
//         margin: 20px auto;
//       }
  
//       legend {
//         padding: 5px 10px;
//         color: $white;
//         border-radius: 5px;
//         border: 1px solid $white;
//       }
//     }
  
// }
