// FONT
$main-font: 1rem "Lato", sans-serif;

// RESPONSIVE BREAKPOINTS
// $bp-largest: 75.0625rem; // 1201px
// $bp-large: 64.0625rem; // 1025px
$bp-medium: 54.6rem; // 858px
// $bp-small: 30.0625rem; // 481px

// COLOR
$bt-color: #20948b;
$bt-hover-color: #07575b;
$white: white;
$green-dark: #00a99d;
$green-shadow: rgba(0, 169, 157, 0.56);
$green-btn: rgba(0, 128, 128, 0.733);
$pholder-text: #aaa;


// PADDING
$pad-medium: 0 6rem;
$pad-small: 0 3rem;
$pad-tiny: 0 1rem;

* {
  margin: 0;
  padding: 0;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  /* REM for size, margin, padding */
  font-size: 62.5%; /* = 10px = 1rem */
}

body {
  font: $main-font;
}

img {
  // Responsive
  max-width: 100%;
  height: auto;
  object-fit: cover;
  display: block;
}

ul {
  list-style: none;
}

.link {
  color: $white;
  text-decoration: none;
  transition: 0.3s;

  &:visited {
    text-decoration: none;
  }
}

::-webkit-input-placeholder {
	/* Edge */
	color: $pholder-text;
}

:-ms-input-placeholder {
	/* Internet Explorer 10-11 */
	color: $pholder-text;
}

::placeholder {
	color: $pholder-text;
}
