@import 'base';

form, fieldset {
    border: 1px solid $white;
    border-radius: 5px;
    padding: 30px;
}

input {
    padding: 8px 20px;
    line-height: 16px;
    margin: 10px 0;
    border-radius: 3px;
    border: none;

    &[type="text"]{
        min-width: 60%;
    }

    &[type="submit"]{
        background: #1abc9c;
        color: $white;
        cursor: pointer;
        transition: .3s;
    }

    &[type="submit"]:hover{
        background: #1cd6b1;
    
    }
}