/* html,
body { AWESOME BACKGROUND ANIMATION BELOW ----------------
  width: 100%;
  height: 100%;
} */

/* body { 
  background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
  background-size: 400% 400%;
  animation: gradient 15s ease infinite;
} */

/* @keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
} */

html {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, sans-serif;
  /* Background image is centered vertically & horizontally at all times */
  background: url("Night_Sky_1366x768.jpg");
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  /* Font Colour */
  color: white;
}

#app {
  /* padding: 1em; */
  display: grid;
  grid-auto-rows: 1fr 4fr;
  /* grid-template-columns:  */
  grid-template-columns: 1fr 1fr;
  /* height: max-content; */
  /* justify-content: center; */
  grid-gap: 1em;
  font-family: "Oswald", sans-serif;
}

.holder {
  border-radius: 5px;
  border: 2px solid white;
  padding: 0 1em;
  background: rgba(59, 74, 107, 0.4);
}

.entry {
  /* asdfasfd */
}

.entryTitles {
  display: flex;
  justify-content: space-around;
}

#entryHolder[reversed] {
  border: 1px solid white;
  display: flex;
  flex-direction: column-reverse;
}

#entryHolder .parent > * {
  border: 1px solid white;
}

.parent{
  display: flex;
  justify-content: space-around;
}

.city{
  /* asdfasf */
}

.date {
  /* border: 1px solid white;  */
}

.temp {
  /* asdfasf */
}

.fav {
  grid-area: 1 / span 3;
}

.headline {
  /* asdfas */
  grid-area: 1 / span 2;
  text-align: center;
  font-size: 20px;
}

.title {
  /* asdfsaf */
}

/*  Basic Styling To Override Default For Basic HTML Elements */
label {
  /* display: block; */
}

input,
textarea,
button {
  background: none;
  color: white;
  border: 1px solid white;
}

input {
  /* asdfsaf */
}

button {
  /* background: none; */
  display: block;
  cursor: pointer;
}

textarea {
  /* sdafsa */
}

textarea::placeholder,
input::placeholder {
  color: #999;
}

/* Reset style for HTML element on active to have no border*/
input:focus,
select:focus,
textarea:focus,
button:focus {
  outline: none;
}

/* Style for Placeholder Text*/
::placeholder {
  /* Firefox, Chrome, Opera */
  font-family: "Oswald", sans-serif;
}

:-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  font-family: "Oswald", sans-serif;
}

::-ms-input-placeholder {
  /* Microsoft Edge */
  font-family: "Oswald", sans-serif;
}
