@import "base.css";
@import "navbar.css";
@import "welcome.css";
@import "post.css";
@import "contact.css";
@import "sidebar.css";
@import "footer.css";


/* Custom properties/variables  */
:root {
  --main-dark:  #545e69;
  --main-white: #fff;
  --main-gray: #DAE3E7;
  --main-silver: #F5F5F5;
}

/* Base reset */
* {
  margin: 0;
  padding: 0;
}

/* box-sizing and font sizing */
*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  /* for size, margin and padding */
  font-size: 62.5%;/* = 10px = 1rem */
  scroll-behavior: smooth;
}

/* 
 * The breakpoint calculation is the following
 * screen size divided by browser base font size
 * As an example: a breakpoint at 980px
 * 980px / 16px = 61.25em
*/

/* 1200px / 16px = 75em */
@media (max-width: 75em) {
  html {
    font-size: 60%;
  }
}

/* 980px / 16px = 61.25em */
@media (max-width: 61.25em) {
  html {
    font-size: 58%;
  }
}

/* 460px / 16px = 28.75em */
@media (max-width: 28.75em) {
  html {
    font-size: 55%;
  }
}

/* Base styles */

body {
  font-family: 'Poppins', sans-serif;
  font-size: 1.6rem; /* 16px */
  font-weight: 400;
  line-height: 1.4;
  color: var(--main-dark);
  background:var(--main-gray);
}

div, section, img{
  border-radius: 5px;
}

h1 {
  font-size: 6rem;
}

h2, h3{
  margin-bottom: 1rem;
}

h1, h2, h3 {
  text-transform: capitalize;
}

a {
  text-decoration: none;
  color: var(--main-dark);
}

.btn {
  padding: 1rem 2rem;
  border-radius: 5px;
  font-size: 2rem;
  background: var(--main-gray);
  transition: background 0.3s ease-out;
}
.btn:hover {
  background: var(--main-silver);
  border: 1px solid silver;
}

.link:hover{
  color: #aaa;
}

.contents{
  grid-area: ct;
}

.wrapper{
  /* max-width: 1400px; */
  display: grid;
  grid-gap: 20px;
  grid-template-areas: 
    "wc wc wc wc wc wc wc wc" 
    ". ct ct ct ct sb sb ."
    "ft ft ft ft ft ft ft ft"
  ;
}

@media (max-width: 1020px) {
  h1 {font-size: 5rem;}
  .wrapper{
    display: grid;
    grid-template-areas: 
      "wc wc wc wc"
      ". ct ct ."
      ". sb sb ."
      "ft ft ft ft"
    ;
  }
  .sidebar{
    width: 100%;
    grid-template-columns: 1fr 1fr;
  }
  #contact{
    grid-column: 2 / 3;
    grid-row: 1 / 3;
  }
}

@media (max-width: 700px) {
  h1 {font-size: 4rem;}
  .sidebar{
    grid-template-columns: 1fr;
  }
  #contact{
    grid-column: 1;
    grid-row: 3;
  }
}